* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 18px;
	scroll-behavior: smooth;
}

body {
	
	font-family:'Work Sans', 'arial', sans serif ;
	color: rgba(50,50,50,.9);
	
	
}

section {
	padding: 30px 20px 30px 20px;
	margin: 0px 20px 0px 20px;
	
}

div .row {
	margin: 20px 0px 20px 0px;
}

h1, h3 {
	font-family:'Josefin Sans', 'Quicksand', 'Work Sans', 'arial', sans serif ;
	color: #47abe1;
	font-weight: 900;
	text-align: none;
  text-justify:none;
}

h5 {
	font-family:'Josefin Sans', 'Quicksand', 'Work Sans', 'arial', sans serif ;
	color: #ff9434;
	font-weight: 900;
	text-align: none;
  text-justify:none;
}

h6 {
	font-family:'Josefin Sans', 'Quicksand', 'Work Sans', 'arial', sans serif ;
	color: gray;
	font-weight: 800;
	text-align: none;
  text-justify:none;
}



p {
	text-align: justify;
  text-justify: inter-word;
}

a {
	color: #47abe1;
	text-decoration: none;
	
}

a:hover {
	color: #ff9434;
	text-decoration: none;
	
}

.h1-top{
	padding-top: 30px;
}

.p1-bottom {
	
}

.clutter-head {

}

.clutter-text {
	color: white;
}

.clutter-col {

	background: linear-gradient(rgba(200,200,200,.1) , rgba(50,50,50,0.6));
	padding: 30px 30px 30px 30px;
}

.clutter-col-2 {
	display: none;
}

.clutter-image {
	padding-top: 50px;
	width: 100%;
	background-image: linear-gradient( to right, rgba(50,48,49,.7) ,rgba(50,48,49,.6), rgba(50,50,50,0.6), rgba(255,255,255,0.4)), url("https://1.bp.blogspot.com/-bHrgng3cpPo/XuRUAB34r4I/AAAAAAAAARA/uM18XIxZ5rgW7QP9tg35LSc6cxPDrojNwCK4BGAsYHg/s3500/clutter.jpg");
	
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	background-attachment: fixed;
	
}

.clutter-one{
	display: none;
}

.btn-outline-primary{
	color: white;
	border-color: white;
	border-width: 1px;
	filter:drop-shadow(0px 1px 0px rgba(50,50,50,0.5));
	border-radius: 0px;
	transition-duration: 0.75s;
	background-color: rgba(240,240,240,0.1);
	background-image:
	repeating-linear-gradient(120deg, rgba(71, 171, 225, 0.2), rgba(71, 171, 225, 0.1) 1px, transparent 1px, transparent 60px),
	repeating-linear-gradient(60deg, rgba(71, 171, 225, 0.1), rgba(71, 171, 225, 0.2) 1px, transparent 1px, transparent 60px),
	linear-gradient(60deg, rgba(170,170,170,.1) 25%, transparent 25%, transparent 75%, rgba(170,170,170,.1) 75%, rgba(170,170,170,.1)),
	linear-gradient(120deg, rgba(170,170,170,.1) 25%, transparent 25%, transparent 75%, rgba(170,170,170,.1) 75%, rgba(170,170,170,.1));
	background-size: 70px 120px;
}

.btn-outline-primary:hover {
	color: white;
	background-color: #47abe1;

	border-color: #4c4c4c;
	border-radius: 0px;
	filter:drop-shadow(0px 1px 0px rgba(50,50,50,0.5));
	transition-duration: 0.75s;
}

.btn-outline-primary:hover::after {
	content: " ➡";
	transition-duration: 0.75s;
}




.btn-outline-dark{
	color: rgb(100,100,100);
	border-color: rgb(100,100,100);
	border-width: 1px;
	/*filter:drop-shadow(0px 1px 0px rgba(50,50,50,0.5));*/
	border-radius: 0px;
	transition-duration: 0.75s;
	
}

.btn-outline-dark:hover {
	color: white;
	background-color: rgb(100,100,100);
	border-color: rgb(100,100,100);
	border-radius: 0px;
	/*filter:drop-shadow(0px 1px 0px rgba(50,50,50,0.5));*/
	transition-duration: 0.75s;
}



.btn-outline-dark:hover::after {
	content: " ➡";
	transition-duration: 0.75s;
}

.orange-text {
	color: #ff9434;
}

.blue-text {
	color: #47abe1;
}

.white-text {
	color: white;
}

.get-started {
	margin: 0 auto;

}

.tagline {
	
}

.tagline-section {
	background-color: white;
	display: block;
	clear: both;
}




.works-section {
	background-color: rgba(225,225,225, 1);
}

.card-section {
	margin: 0 auto;
	padding-top: 30px;

}

.card {
	width: 100%;
	margin-bottom: 15px;
	border-radius: 0px;
	border-color: rgba(71, 171, 225, 0.2);

}

.card-img-top {
	border-radius: 0px;
}

.card-body-ops {
  height: 250px;
}

.products-section {
	background-color: white;
}

.product-card {
	width: 100%;
	margin-bottom: 15px;
	border-radius: 0px;
	border-color: rgba(225, 225, 225, 0.2);
}

.product-card-2 {
	width: 100%;
	padding-bottom: 10px;
	border-radius: 0px;
	border-color: rgba(225, 225, 225, 0.2);
	height: 575px;
	max-height: 600px;
}

.card-body-product {
  	padding-bottom:10px;
}

.card-highlight {
	/*background: linear-gradient(white, white, white, white, rgba(255, 147, 52, 0.1), rgba(255, 147, 52, 0.15));*/
	border-bottom: 5px solid rgba(255, 147, 52, 0.5);
}


ul {
  list-style-type: square;
  padding-left: 40px;
}

ul > li {

}

.dashboard-section {
	/*background-color: rgba(240,240,240, 1);*/
	background-color: rgba(240,240,240,1);
	background-image:
	repeating-linear-gradient(120deg, rgba(71, 171, 225, 0.2), rgba(71, 171, 225, 0.1) 1px, transparent 1px, transparent 60px),
	repeating-linear-gradient(60deg, rgba(71, 171, 225, 0.1), rgba(71, 171, 225, 0.2) 1px, transparent 1px, transparent 60px),
	linear-gradient(60deg, rgba(170,170,170,.1) 25%, transparent 25%, transparent 75%, rgba(170,170,170,.1) 75%, rgba(170,170,170,.1)),
	linear-gradient(120deg, rgba(170,170,170,.1) 25%, transparent 25%, transparent 75%, rgba(170,170,170,.1) 75%, rgba(170,170,170,.1));
	background-size: 70px 120px;
}

.dashboard-pic {
	width: 100%;
}

.slogan-section {
	background-color: #47abe1;
	padding-bottom: 30px;
}

.slogan-pic {
	width: 50%;
}

.big-text {
	font-size: 52px;
	font-family:'Josefin Sans', 'Quicksand', 'Work Sans', 'arial', sans serif ;
	font-weight: 800;

}

.drop-shadow-white {
	/*filter:drop-shadow(2px 2px 0px rgba(250,250,250,1));*/

}

.highlighted-text {
	background: linear-gradient(transparent, rgba(255, 147, 52, 0.1), rgba(255, 147, 52, 0.15));
}


.status-card {
	width: 90%;
	margin-bottom: 20px;
	border-radius: 0px;
	border-color: transparent;
	background-color: rgba(240,240,240, 1);


}

.status-section {
	background-color: rgba(240,240,240, 1);
	padding-top: 50px;
}
.card-body-status {

  	 /*height: 200px;
  	 margin-top: 100px;*/

}



.status-img-container {
	height: 100px;
}

.status-img {
	width: 75%;
}

.status-container {
	padding:0;
	
	
}

.status-row {
	/*background-color: rgba(225,225,225, 1);*/
}

.card-body-testi {
	/*height: 400px;*/
}

.testi-text {
	/*height: 300px;*/
}

.carousel {
  background: white;
}

.carousel-cell {
  width: 30%;
  height: 300px;
  margin-right: 10px;
  background: rgba(200, 200, 200, 0.15);
  border-radius: 0px;
  border-width:2px;
  border-color: rgba(200, 200, 200, 0.7);
  counter-increment: carousel-cell;
}

.carousel-cell.is-selected {

  background: rgba(71, 171, 225, 0.18);
  background-image: radial-gradient(rgba(255,255,255,0.35) 15%, transparent 16%),
	radial-gradient(rgba(255,255,255,0.2) 15%, transparent 16%);
	background-size: 60px 60px;
	background-position: 0 0, 30px 30px;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  /*content: counter(carousel-cell);*/
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.img-clients {
	width: 90%;
	filter: grayscale(90%);
	transition-duration: 1s;
}

.img-clients:hover {
	
	filter: grayscale(1%) drop-shadow(0px 10px 0px rgba(71, 171, 225, 0.5));


}

.offer-div {
	background-color: rgba(71, 171, 225, 0.80);
	background-image:
	radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
	radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
	radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
	radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
	background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
	border: 5px dashed rgba(250, 250, 250, 0.80);
}

.off-text {
	filter: drop-shadow(1px 1px 0px white);
}


.btn-secondary {
	border-radius: 0px;
	color: white;
	border-color: #47abe1;
	background-color: #47abe1;
	transition-duration: 0.75s;
	/*background-color: rgba(240,240,240,0.1);*/
	background-image:
	/*repeating-linear-gradient(120deg, rgba(71, 171, 225, 0.2), rgba(71, 171, 225, 0.1) 1px, transparent 1px, transparent 60px),
	repeating-linear-gradient(60deg, rgba(71, 171, 225, 0.1), rgba(71, 171, 225, 0.2) 1px, transparent 1px, transparent 60px),*/
	linear-gradient(60deg, rgba(170,170,170,.1) 25%, transparent 25%, transparent 75%, rgba(170,170,170,.1) 75%, rgba(170,170,170,.1)),
	linear-gradient(120deg, rgba(170,170,170,.1) 25%, transparent 25%, transparent 75%, rgba(170,170,170,.1) 75%, rgba(170,170,170,.1));
	background-size: 70px 120px;
}

.btn-secondary:hover {
	border-radius: 2px;
	color: #47abe1;
	border-color: #47abe1;
	background-color: white;
}

.btn-secondary:hover::after {
	content: " ➡";
}

.form-control {
	border-radius: 0px;
}
.form-control:focus {
	filter: drop-shadow(1px 1px 1px #ff9434);
	border-color: white;
}

.form-check-input {
	background-color: #47abe1;
}

.img-offer {
	width: 50%;
}






.footer-section {
	background-color: gray;
}

.img-footer {
	height: 50px;
}

/*For tablets and phones*/
@media only screen and (min-width: 761px) and (max-width: 1366px) and (orientation: landscape){

	.clutter-image {
	
	background-image: linear-gradient( to right, rgba(50,48,49,.6) , rgba(50,50,50,0.6), rgba(255,255,255,0.4)), url("https://1.bp.blogspot.com/-pB1VL0HdjKk/XuRWJGNa6-I/AAAAAAAAARc/VWPE5l5rxJslPzE1iRQuXmiIucc96LvcACK4BGAsYHg/s2892/clutter2.jpg");
	background-repeat: repeat-y;
	height: 125vh;
	
	
}

.carousel-cell {
  width: 50%;
  height: 400px;
 
}
}

@media only screen and (min-width: 1021px) and (max-height: 1370px) and (orientation: portrait){

	.clutter-image {
	
	background-image: linear-gradient( to right, rgba(50,48,49,.6) , rgba(50,50,50,0.6), rgba(255,255,255,0.4)), url("https://1.bp.blogspot.com/-irVeIdi4Dr4/XuTQyoS4NEI/AAAAAAAAAas/pqvGKpIkPHYsvJ_ah9ioZ3JSwoeNutJ6ACK4BGAsYHg/s1030/clutter-ipad-pro.jpg");

	
	
}

.carousel-cell {
  width: 30%;
  height: 500px;
  
}


}

@media only screen and (min-width: 761px) and (max-width: 1020px) and (orientation: portrait){

	.clutter-image {
	
	background-image: linear-gradient( to right, rgba(50,48,49,.6) , rgba(50,50,50,0.6), rgba(255,255,255,0.4)), url("https://1.bp.blogspot.com/-brI0Gy2vNI4/XuRRMYjezLI/AAAAAAAAAQU/veoHW-UaC2AJSWN4A3vhM4QsGUCKd8FawCK4BGAsYHg/s1872/square-clutter.jpg");
	height: 100vh;
	
}

.clutter-col {
	display: none;
}

.clutter-col-2 {
	display: block;
}

.carousel-cell {
  width: 50%;
  height: 500px;
  
}

.img-clients {
	
	width: 90%;
	
}
}






@media only screen and (max-width: 760px) {
.clutter-image {
	padding-top: 0px;
	/*width: 100%;*/
	background-image: none;
	display: block;
	height: none;
	
	/*height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;*/
	
}

.clutter-text {
	color: rgb(50,50,50);
}

.clutter-col {

	background: linear-gradient(rgba(250,250,250,.9) , rgba(50,50,50,0.4));
}

.clutter-one {
	display: block;
	padding: 0px;
	/*background-image: url("https://1.bp.blogspot.com/-brI0Gy2vNI4/XuRRMYjezLI/AAAAAAAAAQU/veoHW-UaC2AJSWN4A3vhM4QsGUCKd8FawCK4BGAsYHg/s1872/square-clutter.jpg");
	width:100%;
	height: 50vh;*/
}

.square-clutter{
	width: 100%;

}

.clutter-two {
	display: none;
}

	.carousel-cell {
  width: 85%;
  height: 575px;
 
}

.img-clients {
	
	width: 90%;
	
}
	
}